
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  @extend %font-standart;
  //max-width: $desktop-max-width;
  font-size: 62.5%;
}

body {
  margin: 0 auto;

  color: $color-black;
  //max-width: $desktop-max-width;
//   position: relative;
//   height: 100vh;
//   font-size: 1.4rem;
//   @include flex('flex');
//   flex-direction: column;
  background-color: $color-light-bg;
//   @include background-img('bg1.jpg');
//   @extend %transition-all;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
}

// .hidden {
//   display: none;
// }

// @include media-desktop {
//   html {
//     font-size: 62.5%;
//   }
// }

// @include media-small-desktop {
//   html {
//     font-size: 62.5%;
//   }
// }

// @include media-mobile {
//   html {
//     font-size: 50%;
//   }
// }

// @include screen-and-tablet {
//   body {
//     background-attachment: fixed;
//     overflow: auto;
//   }
// }