
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  @extend %font-standart;
  //max-width: $desktop-max-width;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  color: $color-black;
  //max-width: $desktop-max-width;
//   position: relative;
//   height: 100vh;
//   font-size: 1.4rem;
//   @include flex('flex');
//   flex-direction: column;
  background-color: $color-light-bg;
//   @include background-img('bg1.jpg');
//   @extend %transition-all;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
}

.info {
  background-color: $color-light-bg;
  background-image: url('/src/img/bg/bg-vector.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contains;
}

.parallax {
  width: 100vw;
  height: 45rem;
  background-color: $color-bg;
  background-image: url('/src/img/bg/bg-parallax.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.details {
  background-color: $color-light-bg;
  background-image: url('/src/img/bg/bg-light.png');
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}


// .hidden {
//   display: none;
// }

// @include media-desktop {
//   html {
//     font-size: 62.5%;
//   }
// }

// @include media-small-desktop {
//   html {
//     font-size: 62.5%;
//   }
// }

// @include media-mobile {
//   html {
//     font-size: 50%;
//   }
// }

// @include screen-and-tablet {
//   body {
//     background-attachment: fixed;
//     overflow: auto;
//   }
// }