.lotus {
  margin: 2rem auto;
  width: 40rem;

  position: relative;
  &__img {
    display: block;
    @include width-height(8rem);
    margin: 0 auto;
  }
  &:before {
    display: inline-block;
    position: absolute;
    @include top-left(4rem);
    height: 1px;
    content: "";
    text-shadow: none;
    background-color: $color-black;
    width: 10rem;
  }
  &:after {
    display: inline-block;
    position: absolute;
    @include top-right(4rem);
    height: 1px;
    content: "";
    text-shadow: none;
    background-color: $color-black;
    width: 10rem;
  }
}

.dot {
  margin: 1.4rem auto 3.5rem;
  width: 40rem;
  position: relative;
  border: 2px solid $color-dot;
  @include width-height(2.6rem);
  border-radius: 50%;
  &__inner {
    display: block;
    position: absolute;
    @include top-left(50%);
    @include width-height(0.7rem);
    transform: translate(-50%, -50%);
    background-color: $color-dot;
    border-radius: 50%;
    margin: 0 auto;

  }
  &:before {
    display: inline-block;
    position: absolute;
    @include top-left(1rem, 3.5rem);
    height: 1px;
    content: "";
    text-shadow: none;
    background-color: $color-dark-bg;
    width: 9rem;
  }
  &:after {
    display: inline-block;
    position: absolute;
    @include top-right(1rem, 3.5rem);
    height: 1px;
    content: "";
    text-shadow: none;
    background-color: $color-dark-bg;
    width: 9rem;
  }
}