@font-face {
  font-family: 'Arimo';
  src: url("/src/fonts/Arimo-Medium.ttf");
}
@font-face {
  font-family: 'Rubik';
  src: url("/src/fonts/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Open Sans';
  src: url("/src/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: 'Noto Sans Display';
  src: url("/src/fonts/NotoSansDisplay-Medium.ttf");
}
@font-face {
  font-family: 'Luminova Regular';
  src: url("/src/fonts/luminova.ttf");
}