@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("/src/fonts/Arimo-Medium.ttf");
}
@font-face {
  font-family: 'Rubik';
  src: url("/src/fonts/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/src/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: 'Noto Sans Display', sans-serif;
  src: url("/src/fonts/NotoSansDisplay-Medium.ttf");
}