%font-standart {
  font-family: 'Arial';
}

%font-primary {
  font-family: 'Open Sans';
}

%font-additional {
  font-family: 'Rubik';
}

%font-title {
  font-family: 'Arimo';
}

%font-testimonials {
  font-family: 'Noto Sans Display';
}

%font-decoration {
  font-family: 'Luminova Regular';
}

// %transition-all {
//   transition: all, 0.25s, ease;
// }