%font-standart {
  font-family: 'Arial', sans-serif;
}

%font-primary {
  font-family: 'Open Sans', sans-serif;
}

%font-additional {
  font-family: 'Rubik', sans-serif;
}

%font-title {
  font-family: 'Arimo', sans-serif;
}

%font-testimonials {
  font-family: 'Noto Sans Display', sans-serif;
}

// %transition-all {
//   transition: all, 0.25s, ease;
// }