.about {
  width: 100vw;
  margin: 0 auto;
  padding: 4.5rem 0;
  &__card {
    padding-left: 5rem;
  }
  &__title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 3rem;
    color: $color-dark-bg;
    text-transform: uppercase;
  }
  &__content {
    width: $desktop-width;
    @include flex(flex, center, center);
    gap: 4rem;
    margin: 0 auto;
  }
  &__block {
    flex-basis: 45%;
    justify-self: center;
  }
  &__wrapper {
    @include width-height(60rem, 45rem);
  }
  &__image {
    @include width-height(40rem, auto);
  }
  &__card {
    flex-basis: 55%;
  }
  &__text,
  &__list,
  &__innerlist {
    width: 100%;
    @extend %font-decoration;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: $color-bold;
    letter-spacing: 0.07rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  &__list,
  &__innerlist {
    list-style-type: none;
  }
  &__item {
    font-size: 1.4rem;
    &:nth-last-of-type(1) {
      margin-bottom: 2.5rem;
    }
    &:before {
      content: '';
      display: block;
      margin: 0.2rem 0.6rem 0 0;
      background-image: url('/src/img/icons/certificate.png');
      background-repeat: none;
      background-position: center;
      background-size: contain; 
      @include width-height(1.7rem);
      float: left;
    }
  }
  &__subitem {
    // list-style-type: none;
    margin-left: 2rem;
    &:before {
      content: '';
      display: block;
      margin: 0.4rem 0.6rem 0 0;
      background-image: url('/src/img/icons/diploma.png');
      background-repeat: none;
      background-position: center;
      background-size: contain; 
      @include width-height(1.8rem);
      float: left;
    }
  }
  
  &__subtitle {
    margin-bottom: 2rem;
    font-size: 2rem;
    @extend %font-decoration;
    font-weight: bold;
    color: $color-span;
  }
  &__list {

  }
}