.certificates {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  &__content {
    width: $desktop-width;
    margin: 0 auto;
    padding: 4.5rem 0 4.5rem;
    position: relative;
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    color: $color-dark-bg;
    text-transform: uppercase;
  }
  .gallery {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    max-width: 38%;
    margin: 0 auto;
    overflow: hidden;
    &__line {
      width: $small-desktop-width;
      display: flex;
      background: $color-light-bg;
      position: relative;
      transition: all ease 1s;
    }
    &__btn-prev,
    &__btn-next {
      position: absolute;
      //transform: translateY(-50%);
      background-color: transparent;
      border: none;
      transition: all 0.25s ease;
    }
    &__btn-prev,
    &__btn-next {
      &_hover:hover {
        opacity: 0.8;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    &__btn-prev {
      @include top-left(50%, 15%);
    }
    &__btn-next {
      @include top-right(50%, 15%);
    }
  }
}














