.course {
  width: 100vw;
  margin: 0;
  padding: 0;
  //background-color: #95a29e;
  &__content {
    width: $desktop-width;
    margin: 0 auto;
    padding: 5rem 0 0;
    @include flex(flex, flex-start, flex-start);
    gap: 2rem;
  }
  &__card {
    flex-basis: 50%;
    padding-right: 3.5rem;
    p {
      @extend %font-primary;
      margin-bottom: 1.5rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.5rem;
      color: $color-font;
    }
    p:nth-of-type(3) {
      margin-bottom: 14rem;
    }
  }
    &__title {
    margin-bottom: 2.5rem;
    padding: 7rem 2rem 1rem;
    @extend %font-title;
    font-size: 3rem;
    color: $color-dark-bg;
    span {
      color: $color-span;
      @extend %font-testimonials;
      letter-spacing: 0.07rem;
    }
  }
  &__block {
    flex-basis: 40%;
    position: relative;
  }
  &__wrapper-main {
    position: absolute;
    @include top-left(0);
    z-index: 1; 
  }
  &__wrapper-add {
    position: absolute;
    @include top-left(20rem, 23rem);
    z-index: 2;
  }
  &__image-main {
    @include width-height(30rem, 35rem);

  }
  &__image-add {
    @include width-height(34rem, 24rem);

  }
}

.test {
  width: 100vw;
  height: 300px;
  background-color: #FFF;
}