.queastions {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  &__content {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 8rem 0 4.5rem;
  }
  &__title {

  }
  &__list {

  }
  &__subtitle {

  }
  &__text {

  }
  &__list {

  }
  &__item {

  }
}


@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,700";

:focus {
  outline:none
}

.questions__list {
  width:400px;
  margin:0 auto;
  top:50%;
  transform:translateY(-50%);
  color:#464646;
  border:1px solid silver
}
.questions__text, 
.questions__summary {
  background:#fff
}
.questions__summary {
  padding:20px;
  width:400px;
  font-size:19px;
  z-index:1;
  border-bottom:1px solid silver;
  cursor:pointer
}
.questions__text {width:440px;
  margin:-2px -20px 0;
  padding:30px;
  font-size:15px;
  line-height:1.5;
  border:1px solid silver;
  text-align:justify;
  z-index:2;
  box-shadow:0 0 30px -12px #000;
}
 details[open] p {
  animation: det .3s}
  
@keyframes det {
  0% {
    opacity: 0
  }
  100% {
    opacity:1
  }
}