.testimonials {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  &__content {
    width: $desktop-width;
    margin: 0 auto;
    padding: 4.5rem 0 4.5rem;
    position: relative;
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    color: $color-dark-bg;
    text-transform: uppercase;
  }
  .carousel {
    width: $carousel-width;
    margin: 0 auto;
    position: relative;
    &__container {
      overflow: hidden;
      background-color: transparent;
      transition: all 0.5s ease;
      height: 53.5rem;
    }
    &__line {
      @include flex(flex, space-between, flex-start);
      background-color: $color-light-bg;
      transition: all ease 1s;
    }  
    &__item {
      height: calc(($carousel-width / 3) / 0.56);
      img {
        width: 100%;
        height: 100%;
      }
      &:nth-child(3n+1) {
        //border: 2px solid $color-pagination-light;
      }
      &:nth-child(3n+2) {
        //border: 2px solid $color-btn-hover;
      }
      &:nth-child(3n+3) {
        //border: 2px solid $color-dot;
      }
    }
    &__btn-prev,
    &__btn-next {
      position: absolute;
      @include width-height(3rem);
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      transition: all 0.25s ease;
      &_hover:hover {
        opacity: 0.8;
        transform: scale(1.05);
        cursor: pointer;
      }
      &:disabled {
        opacity: 0.3;
      }
    }
    &__btn-prev {
      @include top-left(50%, -10%);
    }
    &__btn-next {
      @include top-right(50%, -10%);
    }
  }
}